<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChapmanRadio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB6BC21D1CD858F7006B615B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB6BC2311CD858F8006B615B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB6BC23C1CD858F8006B615B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
